<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <link href="/static/css/tailwind.css" rel="stylesheet" type="text/css" />
    <title>
      {% block title %}{{ config('application.name', 'Masonite') }}{% endblock%}
    </title>
    {% block css %}{% endblock %}
  </head>

  <body>
    <h1 class="font-medium text-blue-600">Hello from Tailwind</h1>
  </body>
</html>
