**/*.pyc
**/__pycache__
.pytest_cache/
venv
.venv
**/*.DS_Store
.env.*
.env
**/storage/framework/cache
**/storage/framework/filesystem
src/masonite.egg-info/*
.vscode
build/
venv4
.python-version
.bootstrapped-*
database.sqlite3
