dist
docs
masonite.egg-info
venv
venv2
.vscode
htmlcov
.coverage
**.pyc
**.DS_Store
.DS_store
.env
.pytest_cache/
__pycache__
# storage/compiled/
storage/uploads/
uploads/test.jpg
bootstrap/cache/*.html
bootstrap/cache/*.txt
tests/bootstrap/cache/*.html
tests/bootstrap/cache/*.txt
/uploads/
.coverage
.idea/
masonite.db
tests/uploads
build
noorator
venv3
node_modules
