language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"  # 3.7 development branch
# command to install dependencies
install:
  - pip install masonite-cli
  - sudo apt-get install libffi-dev
  - craft install
script: python -m pytest