include masonite/snippets/exceptions/css/*
include masonite/snippets/exceptions/*
include masonite/snippets/*
include masonite/snippets/migrations/*
include masonite/snippets/scaffold/*
include masonite/snippets/auth/controllers/*
include masonite/snippets/auth/templates/auth/*