include src/masonite/stubs/auth/mailables/*
include src/masonite/stubs/commands/*
include src/masonite/stubs/controllers/*
include src/masonite/stubs/controllers/auth/*
include src/masonite/stubs/events/*
include src/masonite/stubs/jobs/*
include src/masonite/stubs/mailable/*
include src/masonite/stubs/middlewares/*
include src/masonite/stubs/notification/*
include src/masonite/stubs/policies/*
include src/masonite/stubs/presets/base/*
include src/masonite/stubs/presets/tailwind/*
include src/masonite/stubs/presets/vue/*
include src/masonite/stubs/presets/react/*
include src/masonite/stubs/presets/bootstrap/*
include src/masonite/stubs/providers/*
include src/masonite/stubs/queue/*
include src/masonite/stubs/scheduling/*
include src/masonite/stubs/scheduling/templates/auth/*
include src/masonite/stubs/templates/*
include src/masonite/stubs/templates/auth/*
include src/masonite/stubs/templates/auth/mailables/*
include src/masonite/stubs/tests/*
include src/masonite/stubs/validation/*
include src/masonite/validation/snippets/*
include src/masonite/templates/*
include src/masonite/templates/assets/*
include src/masonite/api/stubs/*
include src/masonite/api/stubs/routes/*