[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
masonite = "==2.1.0b2"

[dev-packages]
waitress = "==1.1.0"

[scripts]
postgres = "pipenv install psycopg2"
mysql = "pipenv install PyMySQL"
key = "craft key --store"
