[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
python-dotenv = "*"
"jinja2" = "*"
libsass = "*"
bcrypt = "*"
tldextract = "*"
"validator.py" = "*"
cryptography = "*"
pendulum = "==1.5.1"
cleo = "*"
psutil = "*"
tabulate = "*"
orator = "*"
masonite-events = "*"

[dev-packages]
pytest = "*"
coveralls = "*"
waitress = "*"
masonite-cli = "*"
