bandit
black==19.3b0
codespell
coverage
flake8
flake8-builtins
flake8-comprehensions
flake8-debugger
flake8-deprecated
flake8-docstrings
flake8-isort
flake8-mock
flake8-mutable
flake8-print
flake8-self
flake8-super-call
flake8-tuple
isort
mypy
pre-commit
pre-commit-hooks
pytest
pytest-cov
pytest-mock
pytest-randomly
typecov
