bcrypt>=5,<6
cleo>=0.8.1,<2
cryptography>=36,<=50
dotty_dict>=1.3,<2
exceptionite>=3,<4
hashids>=1.3,<2
hfilesize>=0.1
hupper>=1.10,<2
inflection>=0.3
jinja2>=3,<4
masonite-orm>=3,<4
pendulum>=3,<4
python-dotenv>=1,<2
responses
werkzeug>=3,<4
watchdog>=6,<7
whitenoise>=6,<7
pyjwt>=2.4,<3
python-multipart>=0.0.20,<1
# development
black
tldextract>=5,<6
# testing
pytest
slackblocks
argon2-cffi
pwnedapi
vonage>=4,<5
