<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ app.NAME }}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <!-- Application CSS -->
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="flex-center position-ref full-height">

        <div class="content">
            <div class="title m-b-md">
                {{ app.NAME }}
            </div>

            <div class="links">
                <a href="https://github.com/MasoniteFramework/masonite">The Modern And Developer Centric Python Web Framework</a>
            </div>
            <br><br>

            <div class="links">
                <a href="https://github.com/MasoniteFramework/masonite">Github</a>
                <a href="https://docs.masoniteproject.com">Documentation</a>
                <a href="https://github.com/MasoniteFramework/core">Masonite Core</a>
                <a href="https://slack.masoniteproject.com">Slack</a>
            </div>
        </div>
    </div>
</body>

</html>
