{% if exists('auth/base') %}
    {% extends 'auth/base.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block css %}
<!-- Application CSS -->
<link href="/static/style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} 
    Welcome To {{ config('application.name', 'Masonite none') }} 
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="title m-b-md">
        {{ config('application.name') }}
    </div>
    
    <div class="links">
        <a href="https://github.com/MasoniteFramework/masonite">The Modern And Developer Centric Python Web
            Framework</a>
    </div>
    <br><br>
    
    <div class="links">
        <a href="https://github.com/MasoniteFramework/masonite">Github</a>
        <a href="https://docs.masoniteproject.com">Documentation</a>
        <a href="https://github.com/MasoniteFramework/core">Masonite Core</a>
        <a href="http://slack.masoniteproject.com">Slack</a>
        <a href="https://twitter.com/masoniteproject">Twitter</a>
    </div>
</div>
{% endblock %}