<!-- Root element for center items -->
{% extends 'auth/base.html' %}

{% block content %}
<div class="flex flex-col h-screen bg-gray-100">
    <!-- Auth Card Container -->
    <div class="grid place-items-center mx-2 my-20 sm:my-auto">
        <!-- Auth Card -->
        <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12 
            px-6 py-10 sm:px-10 sm:py-6 
            bg-white rounded-lg shadow-md lg:shadow-lg">

            <!-- Card Title -->
            <h2 class="text-center font-semibold text-3xl lg:text-4xl text-gray-800">
                New Account
            </h2>

            @if session().has('errors'):
            <div class="bg-yellow-400">
                <div class="bg-yellow-200 text-yellow-800 px-4 py-2">
                    <ul>
                        @for key, errors_list in session().get('errors').items():
                            @for errors in errors_list
                                <li>{{ errors }}</li>
                            @endfor
                        @endfor
                    </ul>
                </div>
            </div>
            @endif

            <form class="mt-10" method="POST" action="{{ route('register.store') }}">
                {{ csrf_field }}
                <!-- Email Input -->
                <label for="name" class="block text-xs font-semibold text-gray-600 uppercase">Name </label>
                <input id="name" type="text" name="name" placeholder="John Doe" autocomplete="name"
                    class="block w-full py-3 px-1 mt-2 
                    text-gray-800 appearance-none 
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200"
                    required />

                <label for="email" class="block text-xs font-semibold text-gray-600 uppercase">E-mail</label>
                <input id="email" type="email" name="email" placeholder="e-mail address" autocomplete="email"
                    class="block w-full py-3 px-1 mt-2 
                    text-gray-800 appearance-none 
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200"
                    required />

                <!-- Password Input -->
                <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                <input id="password" type="password" name="password" placeholder="password" autocomplete="current-password"
                    class="block w-full py-3 px-1 mt-2 mb-4
                    text-gray-800 appearance-none 
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200"
                    required />
                <!-- Password Input -->
                <label for="password_confirmation" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Confirm Password</label>
                <input id="password_confirmation" type="password" name="password_confirmation" placeholder="Confirm Password" autocomplete="current-confirm_password"
                    class="block w-full py-3 px-1 mt-2 mb-4
                    text-gray-800 appearance-none 
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200"
                    required />

                <!-- Auth Button -->
                <button type="submit"
                    class="w-full py-3 mt-10 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none">
                    Create Account
                </button>

                <!-- Another Auth Routes -->
                <div class="w-full mt-8 sm:mb-4 text-sm text-center">
                    <a href="{{ route('login') }} " class="flex-2 underline">
                        Have an account? Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}